[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.24"
djangorestframework = "*"
pillow = "*"
django-filter = "*"
python-decouple = "*"
dj-database-url = "*"
dj-static = "*"
gunicorn = "*"
psycopg2 = "*"
drf-yasg = "*"
whitenoise = "*"

[requires]
python_version = "3.6"
